
.Rectangle17 {
  width: 90%;
  height: 50%;
  left: 5%;
  top: 23%;
  position: absolute;
  opacity: 0.9;
  background: white;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 31px;
  border: 4px #3A76EF solid;
}

@media screen and (min-width: 768px)

 {
  .Rectangle17 {
    width: 90%;
    height: 50%;
  }
}

  /*
  .logoimage {
    width: 450px;
    height: 230px;
    left: 80px;
    top: 20px;
    position: absolute;
  } */
  
  .upload {
    width: 10%;
    height: 23%;
    left: 50%;
    transform: translateX(-50%);
    top: 450px;
    position: absolute;
  }
  
  
  .results {
    width: 20%;
    height: 9%;
    left: 50%;
    transform: translateX(-50%);
    top: 80%;
    position: absolute;
  }
  
  
  .files {
    width: 15%;
    height: 8%;
    left: 50%;
    transform: translateX(-50%);
    top: 62%;
    position: absolute;
  }
  
  
  
  
  
  
  